body{
    font-family: 'Poppins', sans-serif;
    color:#575757;
    margin: 0;

}
.first-heading{
    font-size: 50px;
}
.head-color{
    color:orange;
}
.order-btn{
    font-size: 18px;
    text-decoration: none;
    color:white;
    background-image: linear-gradient(orange,tomato);
    padding:18px 40px;
    border-radius: 35px;
}
.top-section{
    display: flex;
    margin-top: 20px;
    margin-bottom: 100px;
    padding-left: 20px;
}
.top-half{
    width: 50%;
}
.top-half img{
    width:100%;
}
.top-right{
    padding:50px 50px 5px 50px;
    
}
.top-right p{
    padding-right: 80px;
    margin-bottom: 50px;
}
.about-section{
    background-image: url(/images/about-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-top: 20px;
    margin-bottom: 60px;
    padding:50px 150px 20px 20px;
    
}
.about-half{
    width: 50%;
}
.about-half img{
    width:50%;
    padding-left: 80px;
}
.about-half h1{
    font-size: 50px;
}
.about-half p{
    margin-bottom: 50px;
}


<!--Recipies Section-->


.rcp-txt-sml{
    font-weight: bold;
    color: #575757;
    width: 100%;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
.recipie-section{
    text-align: center;
    padding: 0px 300px 50px 300px;
}
.recipie-section h1{
    font-size: 40px;
}

.recipie-list{
    width: 100%;
    margin-left: 0%;
    margin-right: 8%;
    display: flex;
}

.recipie-item{
    border-radius: 25px;
    box-shadow: 30px 30px 60px rgb(219, 218, 218);
    text-align: center;
    background-color: white;
    margin: 2%;
    padding: 0%;
    height: 550px;
    width: 30%;
}
#item-img{
    padding-top:30px;
    border-radius: 20px;
    width: 307px;
    height: 250px;
}
#item-title{
    color: #575757;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    padding: 0% 4% 0% 4%;
}
#item-text{
    color: #575757;
    text-align: left;
    text-align: justify;
    padding: 0% 4% 0% 4%;
}


<!--Count Section-->

.flwr-txt{
    font-weight: bold;
    font-size: 40px;
}

.count-section{
    width: 100%;
    display: flex;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgb(204, 202, 202);
    text-align: center;
    margin-top:50px;
    margin-bottom: 50px;    
}
.col{
    width:30%;
    text-align:center
}



<!--Client Section-->

.client-section{
    text-align: center;
    padding: 0px 300px 5px 300px;
    margin-bottom: 200px;
}
.client-section h1{
    font-size: 40px;
}

.client-list{
    width: 100%;
    margin-left: 0%;
    margin-right: 8%;
    display: flex;
}

.client-num{
    border-radius: 25px;
    box-shadow: 30px 30px 60px rgb(219, 218, 218);
    text-align: center;
    background-color: white;
    margin: 2%;
    padding: 0%;
    height: 550px;
    width: 30%;
}
.client-img{
    padding-top:30px;
    border-radius: 50%;
    width: 307px;
    height: 250px;
}
.client-name{
    color: #575757;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 0% 4% 0% 4%;
}
.compliment{
    color: #575757;
    text-align: left;
    text-align: justify;
    padding: 0% 4% 0% 4%;
}
#client-heading{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}




<!--Footer Section-->



footer .footer{
    margin-top: 200px;
    padding-top: 2%;
    height: 200px;
    margin-bottom: 0;
    background-color: #171C33;
    width: 100%;
    text-align: center;
}
#food-color{
    color: #FB8D47;
}
#net-color{
    color: #5B5B5B;
}
footer h4{
    font-weight: lighter;
    color: rgb(214, 217, 219);
}

footer{
    padding-top: 2%;
    height: 200px;
    margin-bottom: 0;
    background-color: #04060e;
    width: 100%;
    text-align: center;

}
footer .footer-txt{
    text-align: center;
}

